docs/n8n/workflows/cleaning-daily-summary.json
{
  "name": "Hotel Cleaning - Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "summary-schedule",
      "name": "Every Day 18:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function formatDateInTimeZone(date, timeZone) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(date);\n  const map = Object.fromEntries(parts.map((part) => [part.type, part.value]));\n  return `${map.year}-${map.month}-${map.day}`;\n}\n\nreturn {\n  json: {\n    backendBaseUrl: 'http://host.docker.internal:3000/api/v1',\n    internalToken: 'dev-internal-token',\n    cleaningDate: formatDateInTimeZone(new Date(), 'Asia/Ho_Chi_Minh'),\n  },\n};"
      },
      "id": "summary-config",
      "name": "Build Summary Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.backendBaseUrl + '/internal/cleaning-shifts/summary' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cleaningDate",
              "value": "={{ $json.cleaningDate }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.internalToken }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "summary-http",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nconst byReason = response.byReason ?? {};\nconst title = 'Cleaning daily summary';\nconst text = `Date: ${response.cleaningDate}\\nTotal: ${response.total ?? 0}\\nCommon area: ${byReason.commonAreaDaily ?? 0}\\nCheckout rooms: ${byReason.checkoutRoom ?? 0}\\nPre-checkin rooms: ${byReason.preCheckinRoom ?? 0}\\nDaily room cleaning: ${byReason.stayoverRoom ?? 0}\\nNot started: ${response.notStarted ?? 0}\\nIn progress: ${response.inProgress ?? 0}\\nFinished: ${response.finished ?? 0}\\nChecked: ${response.checked ?? 0}`;\nconst slackWebhookUrl = 'PASTE_SLACK_WEBHOOK_URL_HERE';\n\nreturn { json: { title, text, slackWebhookUrl, slackPayload: { text: `*${title}*\\n${text}` }, response } };"
      },
      "id": "summary-message",
      "name": "Build Summary Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "summary-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Every Day 18:00": {
      "main": [
        [
          {
            "node": "Build Summary Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Query": {
      "main": [
        [
          {
            "node": "Get Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [
          {
            "node": "Build Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Message": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false,
  "versionId": "cleaning-daily-summary-v2"
}
