docs/n8n/workflows/cleaning-manual-regenerate.json
{
  "name": "Hotel Cleaning - Manual Regenerate",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-regenerate-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function formatDateInTimeZone(date, timeZone) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(date);\n  const map = Object.fromEntries(parts.map((part) => [part.type, part.value]));\n  return `${map.year}-${map.month}-${map.day}`;\n}\n\n// Edit these values before running manually when needed.\nconst cleaningDate = formatDateInTimeZone(new Date(), 'Asia/Ho_Chi_Minh');\nconst facilityIds = [];\n\nreturn {\n  json: {\n    ...{\n  backendBaseUrl: \"http://host.docker.internal:3000/api/v1\",\n  internalToken: \"dev-internal-token\",\n  source: \"n8n-manual-regenerate\",\n  force: true,\n  cleaningReasons: [\n    \"COMMON_AREA_DAILY\",\n    \"CHECKOUT_ROOM\",\n    \"PRE_CHECKIN_ROOM\",\n    \"STAYOVER_ROOM\"\n  ]\n},\n    cleaningDate,\n    facilityIds,\n  },\n};"
      },
      "id": "manual-regenerate-config",
      "name": "Build Manual Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl + '/internal/cleaning-shifts/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.internalToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ cleaningDate: $json.cleaningDate, facilityIds: $json.facilityIds.length > 0 ? $json.facilityIds : undefined, source: $json.source, force: $json.force, cleaningReasons: $json.cleaningReasons }) }}"
      },
      "id": "manual-regenerate-http",
      "name": "Regenerate Cleaning Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nconst title = 'Manual cleaning regeneration finished';\nconst text = `Date: ${response.cleaningDate}\\nCreated: ${response.created ?? 0}\\nSkipped: ${response.skipped ?? 0}\\nForce deleted: ${response.forceDeleted ?? 0}\\nCommon area: ${response.commonAreaCreated ?? 0}\\nCheckout rooms: ${response.checkoutRoomCreated ?? 0}\\nPre-checkin rooms: ${response.preCheckinRoomCreated ?? 0}\\nDaily room cleaning: ${response.stayoverRoomCreated ?? 0}`;\nconst slackWebhookUrl = 'PASTE_SLACK_WEBHOOK_URL_HERE';\n\nreturn { json: { title, text, slackWebhookUrl, slackPayload: { text: `*${title}*\\n${text}` }, response } };"
      },
      "id": "manual-regenerate-message",
      "name": "Build Result Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "manual-regenerate-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Manual Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Manual Payload": {
      "main": [
        [
          {
            "node": "Regenerate Cleaning Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate Cleaning Jobs": {
      "main": [
        [
          {
            "node": "Build Result Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Result Message": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false,
  "versionId": "cleaning-manual-regenerate-v2"
}
