docs/n8n/workflows/uc13-checkout-post-processing.json
{
  "name": "UC13 - Checkout Post Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel/checkout-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "checkout-webhook",
      "name": "Checkout Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "uc13-checkout-completed"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst event = { ...body };\nif (!event.eventId || event.eventType !== 'checkout.completed' || !event.reservationId || !event.roomId) {\n  throw new Error('Missing required checkout.completed event fields');\n}\nreturn {\n  json: {\n    backendBaseUrl: 'http://host.docker.internal:3000/api/v1',\n    internalToken: 'dev-internal-token',\n    source: 'n8n-uc13-checkout-post-processing',\n    event,\n  },\n};"
      },
      "id": "checkout-payload",
      "name": "Build Checkout Event Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl + '/internal/automation/check-outs/process-event' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.internalToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source, event: $json.event }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "checkout-process",
      "name": "Process Checkout Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nreturn { json: { ok: true, workflow: 'uc13-checkout-post-processing', result: response } };"
      },
      "id": "checkout-response-body",
      "name": "Build Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "checkout-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nconst title = response.success === false ? 'Checkout automation failed' : 'Checkout automation processed';\nconst text = `Reservation: ${response.reservationId ?? 'n/a'}\\nRoom: ${response.roomId ?? 'n/a'}\\nCleaning tasks created: ${response.cleaningTasksCreated ?? 0}\\nHousekeeping notified: ${response.housekeepingNotified ?? false}\\nDebt reminders scheduled: ${response.debtRemindersScheduled ?? 0}\\nFailed: ${response.failed ?? 0}`;\nconst slackWebhookUrl = 'PASTE_SLACK_WEBHOOK_URL_HERE';\nreturn { json: { slackWebhookUrl, slackPayload: { text: `*${title}*\\n${text}` }, response } };"
      },
      "id": "checkout-slack-message",
      "name": "Build Slack Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "checkout-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        420
      ]
    }
  ],
  "connections": {
    "Checkout Completed Webhook": {
      "main": [
        [
          {
            "node": "Build Checkout Event Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Checkout Event Payload": {
      "main": [
        [
          {
            "node": "Process Checkout Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Checkout Automation": {
      "main": [
        [
          {
            "node": "Build Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Webhook Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Notification": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false,
  "versionId": "uc13-checkout-post-processing-v1"
}
