docs/n8n/workflows/uc13-payment-reminders-and-receipts.json
{
  "name": "UC13 - Payment Reminders and Receipts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "payment-reminder-schedule",
      "name": "Every Day 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel/payment-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "payment-completed-webhook",
      "name": "Payment Completed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        520
      ],
      "webhookId": "uc13-payment-completed"
    },
    {
      "parameters": {
        "jsCode": "function formatDateInTimeZone(date, timeZone) {\n  const parts = new Intl.DateTimeFormat('en-CA', { timeZone, year: 'numeric', month: '2-digit', day: '2-digit' }).formatToParts(date);\n  const map = Object.fromEntries(parts.map((part) => [part.type, part.value]));\n  return `${map.year}-${map.month}-${map.day}`;\n}\nreturn {\n  json: {\n    backendBaseUrl: 'http://host.docker.internal:3000/api/v1',\n    internalToken: 'dev-internal-token',\n    source: 'n8n-uc13-payment-reminders',\n    reminderDate: formatDateInTimeZone(new Date(), 'Asia/Ho_Chi_Minh'),\n    channels: ['EMAIL', 'SMS'],\n    maxAttempts: 3,\n  },\n};"
      },
      "id": "payment-reminder-payload",
      "name": "Build Payment Reminder Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl + '/internal/automation/payments/reminders/run' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.internalToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source, reminderDate: $json.reminderDate, channels: $json.channels, maxAttempts: $json.maxAttempts }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "payment-reminder-http",
      "name": "Run Payment Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst event = { ...body };\nif (!event.eventId || event.eventType !== 'payment.completed' || !event.paymentId) {\n  throw new Error('Missing required payment.completed event fields');\n}\nreturn {\n  json: {\n    backendBaseUrl: 'http://host.docker.internal:3000/api/v1',\n    internalToken: 'dev-internal-token',\n    source: 'n8n-uc13-payment-completed',\n    event,\n  },\n};"
      },
      "id": "payment-completed-payload",
      "name": "Build Payment Completed Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendBaseUrl + '/internal/automation/payments/process-completed' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.internalToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source, event: $json.event }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "payment-completed-http",
      "name": "Process Payment Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nconst title = response.success === false ? 'Payment reminder automation failed' : 'Payment reminders completed';\nconst text = `Date: ${response.reminderDate ?? response.date ?? 'n/a'}\\nDue invoices: ${response.dueInvoices ?? 0}\\nSent: ${response.sent ?? 0}\\nSkipped: ${response.skipped ?? 0}\\nFailed: ${response.failed ?? 0}`;\nconst slackWebhookUrl = 'PASTE_SLACK_WEBHOOK_URL_HERE';\nreturn { json: { slackWebhookUrl, slackPayload: { text: `*${title}*\\n${text}` }, response } };"
      },
      "id": "payment-reminder-message",
      "name": "Build Reminder Slack Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nreturn { json: { ok: true, workflow: 'uc13-payment-completed', result: response } };"
      },
      "id": "payment-completed-response-body",
      "name": "Build Webhook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "payment-completed-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data ?? $json;\nconst title = response.success === false ? 'Payment completed automation failed' : 'Payment completed automation processed';\nconst text = `Payment: ${response.paymentId ?? 'n/a'}\\nInvoice: ${response.invoiceId ?? 'n/a'}\\nReservation: ${response.reservationId ?? 'n/a'}\\nCancelled reminders: ${response.cancelledReminders ?? 0}\\nReceipt sent: ${response.receiptSent ?? false}`;\nconst slackWebhookUrl = 'PASTE_SLACK_WEBHOOK_URL_HERE';\nreturn { json: { slackWebhookUrl, slackPayload: { text: `*${title}*\\n${text}` }, response } };"
      },
      "id": "payment-completed-message",
      "name": "Build Receipt Slack Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "payment-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        140
      ]
    }
  ],
  "connections": {
    "Every Day 09:00": {
      "main": [
        [
          {
            "node": "Build Payment Reminder Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Completed Webhook": {
      "main": [
        [
          {
            "node": "Build Payment Completed Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Reminder Payload": {
      "main": [
        [
          {
            "node": "Run Payment Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Payment Reminders": {
      "main": [
        [
          {
            "node": "Build Reminder Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Completed Payload": {
      "main": [
        [
          {
            "node": "Process Payment Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Payment Completed": {
      "main": [
        [
          {
            "node": "Build Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Receipt Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Webhook Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Slack Notification": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Receipt Slack Notification": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "active": false,
  "versionId": "uc13-payment-reminders-and-receipts-v1"
}
