docs/n8n/hotel-assistant-tools-v2/get-payment-status.workflow.json
{
  "name": "Hotel Assistant Tool V2 - Get Payment Status",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "77a74cc7-090f-490f-83ba-eaf59566a88c",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseQueryString(value) {\n  if (value === undefined || value === null || value === '') return {}\n  if (typeof value === 'object' && !Array.isArray(value)) return value\n  const text = String(value).trim()\n  if (!text) return {}\n  if (text.startsWith('{')) {\n    try {\n      const parsed = JSON.parse(text)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {}\n    } catch {}\n  }\n  const source = text.startsWith('?') ? text.slice(1) : text\n  const result = {}\n  for (const pair of source.split('&')) {\n    if (!pair) continue\n    const separatorIndex = pair.indexOf('=')\n    const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n    const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n    const key = decodeURIComponent(rawKey.replace(/\\+/g, ' ')).trim()\n    const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' ')).trim()\n    if (!key || paramValue === '') continue\n    if (result[key] === undefined) result[key] = paramValue\n    else if (Array.isArray(result[key])) result[key].push(paramValue)\n    else result[key] = [result[key], paramValue]\n  }\n  return result\n}\n\nfunction parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : parseQueryString(value)\n    } catch {\n      return parseQueryString(value)\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {}\n}\n\nfunction readInput() {\n  const raw = parseObject($json)\n  const input = { ...raw }\n  for (const key of ['json', 'body', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    Object.assign(input, parseObject(raw[key]))\n  }\n  Object.assign(input, parseQueryString(raw.query))\n  Object.assign(input, parseQueryString(raw.queryString))\n  return input\n}\n\nfunction present(value) {\n  if (Array.isArray(value)) return value.length > 0 ? value : undefined\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction toInteger(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\n\nfunction toBooleanString(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  if (normalized === true || normalized === 1 || normalized === '1' || String(normalized).toLowerCase() === 'true') return 'true'\n  if (normalized === false || normalized === 0 || normalized === '0' || String(normalized).toLowerCase() === 'false') return 'false'\n  return undefined\n}\n\nfunction assign(params, key, value, type = 'string') {\n  const normalized = present(value)\n  if (normalized === undefined) return\n  if (type === 'number') {\n    const numberValue = toInteger(normalized)\n    if (numberValue !== undefined) params[key] = String(numberValue)\n    return\n  }\n  if (type === 'boolean') {\n    const booleanValue = toBooleanString(normalized)\n    if (booleanValue !== undefined) params[key] = booleanValue\n    return\n  }\n  if (Array.isArray(normalized)) params[key] = normalized.map(String).filter(Boolean)\n  else params[key] = String(normalized).trim()\n}\n\nfunction encodeQuery(params) {\n  const parts = []\n  for (const [key, value] of Object.entries(params)) {\n    if (value === undefined || value === null || value === '') continue\n    const values = Array.isArray(value) ? value : [value]\n    for (const item of values) parts.push(encodeURIComponent(key) + '=' + encodeURIComponent(String(item)))\n  }\n  return parts.join('&')\n}\n\nfunction buildUrl(baseUrl, endpoint, params) {\n  const query = encodeQuery(params)\n  return query ? baseUrl + endpoint + '?' + query : baseUrl + endpoint\n}\n\nconst config = {\n  \"endpoint\": \"/request-details\",\n  \"allowedParams\": [\n    {\n      \"name\": \"reserveId\",\n      \"type\": \"number\"\n    }\n  ],\n  \"aliases\": [\n    {\n      \"from\": \"id\",\n      \"to\": \"reserveId\"\n    },\n    {\n      \"from\": \"reserve_id\",\n      \"to\": \"reserveId\"\n    }\n  ],\n  \"requiredParams\": [\n    \"reserveId\"\n  ]\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nconst params = {}\n\nfor (const alias of config.aliases ?? []) {\n  const sourceValue = present(input[alias.from])\n  if (sourceValue !== undefined && present(input[alias.to]) === undefined) input[alias.to] = sourceValue\n}\n\nfor (const field of config.allowedParams ?? []) {\n  assign(params, field.name, input[field.name], field.type ?? 'string')\n}\n\nfor (const [key, value] of Object.entries(config.defaults ?? {})) {\n  if (params[key] === undefined) params[key] = String(value)\n}\n\nfor (const rule of config.copyRules ?? []) {\n  const sourceValue = present(input[rule.from])\n  if (sourceValue !== undefined && params[rule.to] === undefined) assign(params, rule.to, sourceValue, rule.type ?? 'string')\n}\n\nconst missing = []\nfor (const key of config.requiredParams ?? []) {\n  if (present(params[key]) === undefined) missing.push(key)\n}\n\nconst endpoint = config.pathParam\n  ? config.endpointPrefix + '/' + encodeURIComponent(String(params[config.pathParam] ?? ''))\n  : config.endpoint\nconst cleanParams = config.pathParam ? Object.fromEntries(Object.entries(params).filter(([key]) => key !== config.pathParam)) : params\nconst apiUrl = missing.length === 0 ? buildUrl(apiBaseUrl, endpoint, cleanParams) : null\nconst warnings = missing.map((key) => 'Missing required query param: ' + key)\nconst kept = {}\nfor (const key of config.keepFields ?? []) kept[key] = input[key]\nreturn [{ json: { rawInput: input, params, reserveId: params.reserveId, queryString: encodeQuery(params), apiUrl, requestDetailsUrl: buildUrl(apiBaseUrl, '/request-details', params), saleDetailsUrl: buildUrl(apiBaseUrl, '/sale-details', params), canCallApi: missing.length === 0, warnings, apiBaseUrl, internalToken: 'dev-internal-token' } }]\n"
      },
      "id": "234cb3fe-2b19-4add-9398-0cbb01555ec8",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.requestDetailsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "277dbb1b-55a8-427c-85fc-37c4d3ed9808",
      "name": "GET Request Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Input').item.json.saleDetailsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $('Prepare Input').item.json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "5aa6fccb-3284-4386-8a8d-c8afb7c32f94",
      "name": "GET Sale Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function asArray(result) {\n  return Array.isArray(result?.data) ? result.data : Array.isArray(result) ? result : []\n}\nfunction number(value) {\n  return Number(value ?? 0)\n}\nfunction requestRemaining(item) {\n  return number(item.totalPrice ?? item.total_price) - number(item.paidAmount ?? item.paid_amount)\n}\nfunction toDateValue(item) {\n  return item.receiptPaymentDate ?? item.receipt_payment_date ?? item.saleDate ?? item.sale_date ?? null\n}\n\nconst requestResult = $('GET Request Details').first().json\nconst saleResult = $('GET Sale Details').first().json\nconst requestDetails = asArray(requestResult)\nconst saleDetails = asArray(saleResult)\nconst totalInvoice = requestDetails.reduce((sum, item) => sum + number(item.totalPrice ?? item.total_price), 0)\nconst totalPaid = saleDetails.reduce((sum, item) => sum + number(item.totalPrice ?? item.total_price), 0)\nconst remaining = totalInvoice - totalPaid\nconst unpaidLines = requestDetails.filter((item) => requestRemaining(item) > 0)\nconst paidLines = requestDetails.filter((item) => requestRemaining(item) <= 0)\nconst latestPaymentDate = saleDetails\n  .map(toDateValue)\n  .filter(Boolean)\n  .sort()\n  .at(-1) ?? null\n\nreturn [{\n  json: {\n    payment: {\n      reserveId: $('Prepare Input').item.json.reserveId,\n      totalInvoice,\n      totalPaid,\n      remaining,\n      status: totalPaid >= totalInvoice ? 'paid' : totalPaid > 0 ? 'partial' : 'unpaid',\n      summary: {\n        requestLineCount: requestDetails.length,\n        paidLineCount: paidLines.length,\n        unpaidLineCount: unpaidLines.length,\n        paymentCount: saleDetails.length,\n        latestPaymentDate,\n      },\n      billingLines: requestDetails.map((item) => ({\n        requestDetailId: item.requestDetailId ?? item.request_detail_id ?? null,\n        requestTypeId: item.requestTypeId ?? item.request_type_id ?? null,\n        titlePrefix: item.titlePrefix ?? item.title_prefix ?? null,\n        titleSuffix: item.titleSuffix ?? item.title_suffix ?? null,\n        totalPrice: number(item.totalPrice ?? item.total_price),\n        paidAmount: number(item.paidAmount ?? item.paid_amount),\n        remaining: requestRemaining(item),\n        paymentStatus: item.paymentStatus ?? item.payment_status ?? (requestRemaining(item) > 0 ? 'unpaid' : 'paid'),\n      })),\n      payments: saleDetails.map((item) => ({\n        saleDetailId: item.saleDetailId ?? item.sale_detail_id ?? null,\n        requestTypeId: item.requestTypeId ?? item.request_type_id ?? null,\n        requestDetailId: item.requestDetailId ?? item.request_detail_id ?? null,\n        totalPrice: number(item.totalPrice ?? item.total_price),\n        saleDate: item.saleDate ?? item.sale_date ?? null,\n        receiptPaymentDate: item.receiptPaymentDate ?? item.receipt_payment_date ?? null,\n        paymentMethodId: item.paymentMethodId ?? item.payment_method_id ?? null,\n        isConfirmed: item.isConfirmed ?? item.is_confirmed ?? null,\n        summary: item.summary ?? null,\n      })),\n      requestDetails,\n      saleDetails,\n    },\n    sources: [\n      { type: 'api', name: 'GET /request-details' },\n      { type: 'api', name: 'GET /sale-details' },\n    ],\n  },\n}]"
      },
      "id": "5a22f969-af06-4c83-b097-2a23ef210b31",
      "name": "Calculate Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.canCallApi }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b29360f4-8577-4043-a0be-38ceaed1080e",
      "name": "Can Call API?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \"payment\": null, \"warnings\": $json.warnings, \"sources\": [], \"params\": $json.params } }]"
      },
      "id": "6220e1dd-6729-43a7-af88-5f827f35fe0c",
      "name": "Return Missing Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        160
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Can Call API?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Request Details": {
      "main": [
        [
          {
            "node": "GET Sale Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sale Details": {
      "main": [
        [
          {
            "node": "Calculate Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Call API?": {
      "main": [
        [
          {
            "node": "GET Request Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Missing Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-get-payment-status-v1-v2"
}
