docs/n8n/hotel-assistant-tools-v2/get-guest-history.workflow.json
{
  "name": "Hotel Assistant Tool V2 - Get Guest History",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "df442694-f5f1-4bd3-9f2d-93f8479d4923",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseQueryString(value) {\n  if (value === undefined || value === null || value === '') return {}\n  if (typeof value === 'object' && !Array.isArray(value)) return value\n  const text = String(value).trim()\n  if (!text) return {}\n  if (text.startsWith('{')) {\n    try {\n      const parsed = JSON.parse(text)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {}\n    } catch {}\n  }\n  const source = text.startsWith('?') ? text.slice(1) : text\n  const result = {}\n  for (const pair of source.split('&')) {\n    if (!pair) continue\n    const separatorIndex = pair.indexOf('=')\n    const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n    const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n    const key = decodeURIComponent(rawKey.replace(/\\+/g, ' ')).trim()\n    const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' ')).trim()\n    if (!key || paramValue === '') continue\n    if (result[key] === undefined) result[key] = paramValue\n    else if (Array.isArray(result[key])) result[key].push(paramValue)\n    else result[key] = [result[key], paramValue]\n  }\n  return result\n}\n\nfunction parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : parseQueryString(value)\n    } catch {\n      return parseQueryString(value)\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {}\n}\n\nfunction readInput() {\n  const raw = parseObject($json)\n  const input = { ...raw }\n  for (const key of ['json', 'body', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    Object.assign(input, parseObject(raw[key]))\n  }\n  Object.assign(input, parseQueryString(raw.query))\n  Object.assign(input, parseQueryString(raw.queryString))\n  return input\n}\n\nfunction present(value) {\n  if (Array.isArray(value)) return value.length > 0 ? value : undefined\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction toInteger(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\n\nfunction toBooleanString(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  if (normalized === true || normalized === 1 || normalized === '1' || String(normalized).toLowerCase() === 'true') return 'true'\n  if (normalized === false || normalized === 0 || normalized === '0' || String(normalized).toLowerCase() === 'false') return 'false'\n  return undefined\n}\n\nfunction assign(params, key, value, type = 'string') {\n  const normalized = present(value)\n  if (normalized === undefined) return\n  if (type === 'number') {\n    const numberValue = toInteger(normalized)\n    if (numberValue !== undefined) params[key] = String(numberValue)\n    return\n  }\n  if (type === 'boolean') {\n    const booleanValue = toBooleanString(normalized)\n    if (booleanValue !== undefined) params[key] = booleanValue\n    return\n  }\n  if (Array.isArray(normalized)) params[key] = normalized.map(String).filter(Boolean)\n  else params[key] = String(normalized).trim()\n}\n\nfunction encodeQuery(params) {\n  const parts = []\n  for (const [key, value] of Object.entries(params)) {\n    if (value === undefined || value === null || value === '') continue\n    const values = Array.isArray(value) ? value : [value]\n    for (const item of values) parts.push(encodeURIComponent(key) + '=' + encodeURIComponent(String(item)))\n  }\n  return parts.join('&')\n}\n\nfunction buildUrl(baseUrl, endpoint, params) {\n  const query = encodeQuery(params)\n  return query ? baseUrl + endpoint + '?' + query : baseUrl + endpoint\n}\n\nconst config = {\n  \"endpoint\": \"/clients\",\n  \"allowedParams\": [\n    {\n      \"name\": \"search\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"clientName\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"contactName\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"email\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"tel\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"telPhone\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"telEmergency\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"dataType\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"dataStatus\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"countryId\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"page\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"limit\",\n      \"type\": \"number\"\n    }\n  ],\n  \"aliases\": [\n    {\n      \"from\": \"guestName\",\n      \"to\": \"clientName\"\n    }\n  ],\n  \"defaults\": {\n    \"dataStatus\": 1,\n    \"limit\": 5\n  }\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nconst params = {}\n\nfor (const alias of config.aliases ?? []) {\n  const sourceValue = present(input[alias.from])\n  if (sourceValue !== undefined && present(input[alias.to]) === undefined) input[alias.to] = sourceValue\n}\n\nfor (const field of config.allowedParams ?? []) {\n  assign(params, field.name, input[field.name], field.type ?? 'string')\n}\n\nfor (const [key, value] of Object.entries(config.defaults ?? {})) {\n  if (params[key] === undefined) params[key] = String(value)\n}\n\nfor (const rule of config.copyRules ?? []) {\n  const sourceValue = present(input[rule.from])\n  if (sourceValue !== undefined && params[rule.to] === undefined) assign(params, rule.to, sourceValue, rule.type ?? 'string')\n}\n\nconst missing = []\nfor (const key of config.requiredParams ?? []) {\n  if (present(params[key]) === undefined) missing.push(key)\n}\n\nconst endpoint = config.pathParam\n  ? config.endpointPrefix + '/' + encodeURIComponent(String(params[config.pathParam] ?? ''))\n  : config.endpoint\nconst cleanParams = config.pathParam ? Object.fromEntries(Object.entries(params).filter(([key]) => key !== config.pathParam)) : params\nconst apiUrl = missing.length === 0 ? buildUrl(apiBaseUrl, endpoint, cleanParams) : null\nconst warnings = missing.map((key) => 'Missing required query param: ' + key)\nconst kept = {}\nfor (const key of config.keepFields ?? []) kept[key] = input[key]\nconst reservationParams = {}\nassign(reservationParams, 'clientId', input.clientId, 'number')\nassign(reservationParams, 'clientName', input.clientName ?? input.guestName, 'string')\nassign(reservationParams, 'occupierName', input.occupierName, 'string')\nassign(reservationParams, 'facilityId', input.facilityId, 'number')\nassign(reservationParams, 'dataStatus', input.dataStatus ?? 1, 'number')\nassign(reservationParams, 'limit', input.historyLimit ?? 20, 'number')\nreturn [{ json: { rawInput: input, params, reservationParams, queryString: encodeQuery(params), apiUrl, reservationsUrl: buildUrl(apiBaseUrl, '/reservations', reservationParams), canCallApi: missing.length === 0, warnings, apiBaseUrl, internalToken: 'dev-internal-token' } }]\n"
      },
      "id": "16ac1e47-e5b7-4635-a273-9622e392f575",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "15a65751-c40e-4f77-99a9-4f8c18ca7782",
      "name": "GET Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Input').item.json.reservationsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $('Prepare Input').item.json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "34702ffb-e123-4ad1-b77e-3e48fc0da680",
      "name": "GET Guest Reservations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function asArray(result) {\n  return Array.isArray(result?.data) ? result.data : Array.isArray(result) ? result : []\n}\nfunction toTime(value) {\n  const time = value ? new Date(value).getTime() : NaN\n  return Number.isNaN(time) ? null : time\n}\nfunction compactStay(item) {\n  return {\n    reserveId: item.reserveId ?? null,\n    facilityId: item.facilityId ?? null,\n    facilityName: item.facilityName ?? null,\n    roomId: item.roomId ?? null,\n    roomNumber: item.roomNumber ?? null,\n    roomTypeName: item.roomTypeName ?? null,\n    roomClassName: item.roomClassName ?? null,\n    periodFrom: item.periodFrom ?? null,\n    periodTo: item.periodTo ?? null,\n    reserveStatus: item.reserveStatus ?? null,\n    checkinFlag: item.checkinFlag ?? null,\n    checkoutAt: item.checkoutAt ?? null,\n  }\n}\n\nconst clientResult = $('GET Clients').first().json\nconst reservationResult = $('GET Guest Reservations').first().json\nconst clients = asArray(clientResult)\nconst history = asArray(reservationResult)\nconst now = Date.now()\nconst sortedHistory = [...history].sort((a, b) => (toTime(b.periodFrom) ?? 0) - (toTime(a.periodFrom) ?? 0))\nconst activeStayCount = history.filter((item) => {\n  const from = toTime(item.periodFrom)\n  const to = toTime(item.periodTo)\n  return from !== null && from <= now && (to === null || to >= now) && !item.cancelledAt\n}).length\nconst upcomingStayCount = history.filter((item) => {\n  const from = toTime(item.periodFrom)\n  return from !== null && from > now && !item.cancelledAt\n}).length\nconst completedStayCount = history.filter((item) => {\n  const to = toTime(item.periodTo)\n  return item.checkoutAt || (to !== null && to < now)\n}).length\nconst latestStay = sortedHistory[0] ? compactStay(sortedHistory[0]) : null\nconst recentStays = sortedHistory.slice(0, 5).map(compactStay)\nconst facilitiesVisited = Array.from(new Map(\n  history\n    .filter((item) => item.facilityId !== null && item.facilityId !== undefined)\n    .map((item) => [item.facilityId, { facilityId: item.facilityId, facilityName: item.facilityName ?? null }]),\n).values())\n\nreturn [{\n  json: {\n    clients,\n    guestHistory: history,\n    guestHistorySummary: {\n      matchedClientCount: clients.length,\n      stayCount: history.length,\n      activeStayCount,\n      upcomingStayCount,\n      completedStayCount,\n      latestStay,\n      recentStays,\n      facilitiesVisited,\n    },\n    sources: [\n      { type: 'api', name: 'GET /clients' },\n      { type: 'api', name: 'GET /reservations' },\n    ],\n  },\n}]"
      },
      "id": "ea2bd176-6b93-466c-acff-8a34bf8a4897",
      "name": "Normalize Guest History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Clients": {
      "main": [
        [
          {
            "node": "GET Guest Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Guest Reservations": {
      "main": [
        [
          {
            "node": "Normalize Guest History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-get-guest-history-v1-v2"
}
