docs/n8n/hotel-assistant-tools-v2/search-room-classes.workflow.json
{
  "name": "Hotel Assistant Tool V2 - Search Room Classes",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "40ee2ba1-65ba-43fb-b10a-b0d20f43d422",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseQueryString(value) {\n  if (value === undefined || value === null || value === '') return {}\n  if (typeof value === 'object' && !Array.isArray(value)) return value\n  const text = String(value).trim()\n  if (!text) return {}\n  if (text.startsWith('{')) {\n    try {\n      const parsed = JSON.parse(text)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {}\n    } catch {}\n  }\n  const source = text.startsWith('?') ? text.slice(1) : text\n  const result = {}\n  for (const pair of source.split('&')) {\n    if (!pair) continue\n    const separatorIndex = pair.indexOf('=')\n    const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n    const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n    const key = decodeURIComponent(rawKey.replace(/\\+/g, ' ')).trim()\n    const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' ')).trim()\n    if (!key || paramValue === '') continue\n    if (result[key] === undefined) result[key] = paramValue\n    else if (Array.isArray(result[key])) result[key].push(paramValue)\n    else result[key] = [result[key], paramValue]\n  }\n  return result\n}\nfunction parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : parseQueryString(value)\n    } catch {\n      return parseQueryString(value)\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {}\n}\nfunction readInput() {\n  const raw = parseObject($json)\n  const input = { ...raw }\n  for (const key of ['json', 'body', 'data', 'input', 'workflowInputs', 'parameters', 'args']) Object.assign(input, parseObject(raw[key]))\n  Object.assign(input, parseQueryString(raw.query))\n  Object.assign(input, parseQueryString(raw.queryString))\n  return input\n}\nfunction present(value) {\n  if (Array.isArray(value)) return value.length > 0 ? value : undefined\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\nfunction toInteger(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\nfunction toBooleanString(value) {\n  const normalized = present(value)\n  if (normalized === undefined || Array.isArray(normalized)) return undefined\n  if (normalized === true || normalized === 1 || normalized === '1' || String(normalized).toLowerCase() === 'true') return 'true'\n  if (normalized === false || normalized === 0 || normalized === '0' || String(normalized).toLowerCase() === 'false') return 'false'\n  return undefined\n}\nfunction assign(params, key, value, type = 'string') {\n  const normalized = present(value)\n  if (normalized === undefined) return\n  if (type === 'number') {\n    const numberValue = toInteger(normalized)\n    if (numberValue !== undefined) params[key] = String(numberValue)\n    return\n  }\n  if (type === 'boolean') {\n    const booleanValue = toBooleanString(normalized)\n    if (booleanValue !== undefined) params[key] = booleanValue\n    return\n  }\n  params[key] = String(normalized).trim()\n}\nfunction encodeQuery(params) {\n  const parts = []\n  for (const [key, value] of Object.entries(params)) {\n    if (value === undefined || value === null || value === '') continue\n    parts.push(encodeURIComponent(key) + '=' + encodeURIComponent(String(value)))\n  }\n  return parts.join('&')\n}\nfunction buildUrl(baseUrl, endpoint, params) {\n  const query = encodeQuery(params)\n  return query ? baseUrl + endpoint + '?' + query : baseUrl + endpoint\n}\n\nconst config = {\n  \"endpoint\": \"/internal/chatbot/room-classes\",\n  \"pathParams\": [\n    {\n      \"name\": \"roomClassId\",\n      \"endpointPrefix\": \"/internal/chatbot/room-classes\"\n    }\n  ],\n  \"allowedParams\": [\n    {\n      \"name\": \"search\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"roomClassId\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"facilityId\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"dataStatus\",\n      \"type\": \"number\"\n    },\n    {\n      \"name\": \"limit\",\n      \"type\": \"number\"\n    }\n  ],\n  \"defaults\": {\n    \"dataStatus\": 1,\n    \"limit\": 100\n  }\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nconst params = {}\nfor (const field of config.allowedParams) assign(params, field.name, input[field.name], field.type)\nfor (const [key, value] of Object.entries(config.defaults ?? {})) if (params[key] === undefined) params[key] = String(value)\nlet endpoint = config.endpoint\nfor (const pathParam of config.pathParams ?? []) {\n  if (params[pathParam.name] !== undefined) {\n    endpoint = pathParam.endpointPrefix + '/' + encodeURIComponent(String(params[pathParam.name]))\n    delete params[pathParam.name]\n  }\n}\nconst apiUrl = buildUrl(apiBaseUrl, endpoint, params)\nreturn [{ json: { rawInput: input, params, queryString: encodeQuery(params), apiUrl, apiBaseUrl, internalToken: 'dev-internal-token' } }]\n"
      },
      "id": "52b635c2-d75f-4485-bcac-e74c86e22f9a",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a287dee6-63e3-4284-9ded-15e42bbf6353",
      "name": "GET Chatbot Master Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json.data ?? $json\nreturn [{ json: { roomClasses: result.roomClasses ?? result, params: $('Prepare Input').item.json.params, queryString: $('Prepare Input').item.json.queryString, sources: [{ type: 'api', name: 'GET /internal/chatbot/room-classes' }] } }]"
      },
      "id": "ffc4c267-80be-4b32-93ff-17445afb4541",
      "name": "Normalize Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Chatbot Master Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Chatbot Master Data": {
      "main": [
        [
          {
            "node": "Normalize Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-v2-search-room-classes"
}
