docs/n8n/hotel-assistant-chatbot.workflow.json
{
  "name": "Hotel Assistant - Chatbot Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-assistant/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e738cc86-12dd-4407-9433-66d8d87fc4c4",
      "name": "Webhook - Chatbot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4736,
        1344
      ],
      "webhookId": "hotel-assistant-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json\n\nconst message = String(body.message ?? '').trim()\nif (!message) {\n  return [\n    {\n      json: {\n        error: 'EMPTY_MESSAGE',\n        answer: 'Vui lòng nhập nội dung cần tra cứu.',\n        cards: [],\n        actions: [],\n        meta: { intent: 'invalid', confidence: 1, calledTools: [], sources: [] },\n      },\n    },\n  ]\n}\n\nconst staffId = body.staffId ?? 'anonymous'\nconst facilityId = body.facilityId ?? 'default'\nconst sessionId = body.sessionId ?? `${staffId}-${Date.now()}`\nconst sessionKey = `hotel-assistant:${facilityId}:${staffId}:${sessionId}`\n\nconst today = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Asia/Ho_Chi_Minh',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}).format(new Date())\n\nreturn [\n  {\n    json: {\n      message,\n      sessionId,\n      sessionKey,\n      staffId,\n      facilityId,\n      today,\n      timezone: 'Asia/Ho_Chi_Minh',\n      pageContext: body.pageContext ?? {},\n      guardrails: {\n        mode: 'read_only',\n        allowedMethods: ['GET'],\n        deniedMethods: ['POST', 'PUT', 'PATCH', 'DELETE'],\n      },\n    },\n  },\n]"
      },
      "id": "01306d1d-60e5-4df1-acde-893763a5f4dc",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e6a47082-7c6e-42e6-9578-b0710b10f68a",
      "name": "Has Validation Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5216,
        1344
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tin nhắn của nhân viên:\n{{ $json.message }}",
        "options": {
          "systemMessage": "=Bạn là AI planner cho chatbot trợ lý nghiệp vụ khách sạn.\n\nNhiệm vụ của bạn:\n1. Phân tích câu hỏi tiếng Việt của nhân viên khách sạn.\n2. Xác định intent và entity.\n3. Gọi các tool read-only cần thiết để lấy context.\n4. Không trả lời cuối cùng cho người dùng.\n5. Chỉ trả về JSON theo schema bên dưới.\n\nQuy tắc bắt buộc:\n- Chỉ được dùng tool read-only.\n- Không gọi, đề xuất hoặc giả lập thao tác ghi dữ liệu.\n- Nếu người dùng yêu cầu check-in, check-out, hủy booking, cập nhật thanh toán, sửa phòng, hãy đặt intent là \"forbidden_write_action\" và không gọi tool.\n- Không tự bịa dữ liệu. Nếu thiếu dữ liệu, ghi vào warnings.\n- Nếu pageContext có reserveId và câu hỏi có \"đơn này\", \"booking này\", \"khách này\", ưu tiên reserveId đó.\n- Tool trả context gì thì giữ nguyên trong toolContext, không biến thành câu trả lời cuối.\n\nContext hệ thống:\n- today: {{ $json.today }}\n- timezone: {{ $json.timezone }}\n- facilityId: {{ $json.facilityId }}\n- pageContext: {{ JSON.stringify($json.pageContext) }}\n\nOutput JSON schema bắt buộc:\n{\n  \"intent\": \"string\",\n  \"confidence\": 0.0,\n  \"entities\": {\n    \"reserveId\": \"number|null\",\n    \"bookingCode\": \"string|null\",\n    \"guestName\": \"string|null\",\n    \"clientId\": \"number|null\",\n    \"roomId\": \"number|null\",\n    \"roomNo\": \"string|null\",\n    \"roomType\": \"string|null\",\n    \"date\": \"YYYY-MM-DD|null\",\n    \"from\": \"YYYY-MM-DD|null\",\n    \"to\": \"YYYY-MM-DD|null\"\n  },\n  \"calledTools\": [\"string\"],\n  \"toolContext\": {\n    \"reservations\": [],\n    \"reservation\": null,\n    \"rooms\": [],\n    \"availableRooms\": [],\n    \"payments\": [],\n    \"occupiers\": [],\n    \"clients\": [],\n    \"guestHistory\": [],\n    \"documents\": [],\n    \"dailyReserve\": {}\n  },\n  \"warnings\": [\"string\"]\n}"
        }
      },
      "id": "387f38e5-f2e7-4ebd-b951-b8edddc92c42",
      "name": "Planner AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5488,
        1472
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}",
        "contextWindowLength": 0
      },
      "id": "798608d4-baa2-46ed-aa6a-2dbaff14cef5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5440,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "9t685Y4KZeHqIWz5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_reservation_detail",
        "description": "Read-only tool. Get one reservation detail by reserveId. Use this when pageContext.reserveId exists or when the user asks about đơn này, booking này, khách này. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "oycmrNQX3ld6azeC",
          "mode": "list",
          "cachedResultUrl": "/workflow/oycmrNQX3ld6azeC",
          "cachedResultName": "Hotel Assistant Tool - Get Reservation Detail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reserveId": "={{ $fromAI('reserveId', 'Reservation ID. Use pageContext reserveId when the user says this booking/order.', 'number') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "3e179aaf-60de-474f-b855-883fbeafb7de",
      "name": "Tool - Get Reservation Detail",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        5664,
        1760
      ]
    },
    {
      "parameters": {
        "name": "get_payment_status",
        "description": "Read-only tool. Get billing/payment status for a reserveId using request details and sale details. Use for payment status, debt, paid amount, remaining amount. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "5cFYtrMuFdzEILod",
          "mode": "list",
          "cachedResultUrl": "/workflow/5cFYtrMuFdzEILod",
          "cachedResultName": "Hotel Assistant Tool - Get Payment Status"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reserveId": "={{ $fromAI('reserveId', 'Reservation ID to calculate payment status for.', 'number') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "3d6cf80f-579d-4109-b63e-b60ad2d7f276",
      "name": "Tool - Get Payment Status",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        5904,
        1760
      ]
    },
    {
      "parameters": {
        "name": "search_reservations",
        "description": "Read-only tool. Search reservations by booking code, guest name, client ID, date, or facility. Use when user asks to find booking or list reservations. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "7sZ5jxi5rzjkCTZQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/7sZ5jxi5rzjkCTZQ",
          "cachedResultName": "Hotel Assistant Tool - Search Reservations"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "bookingCode": "={{ $fromAI('bookingCode', 'Booking code if present.', 'string') }}",
            "guestName": "={{ $fromAI('guestName', 'Guest name if present.', 'string') }}",
            "clientId": "={{ $fromAI('clientId', 'Client ID if known.', 'number') }}",
            "date": "={{ $fromAI('date', 'Reservation date in YYYY-MM-DD if present.', 'string') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}",
            "limit": 5
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "3d2f5a86-19ed-4d4e-8953-0fdfbe2ece97",
      "name": "Tool - Search Reservations",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        6144,
        1760
      ]
    },
    {
      "parameters": {
        "name": "get_today_checkin_checkout",
        "description": "Read-only tool. Get check-in and check-out lists for a date. Use for today check-in/check-out questions. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "JHRubeaJLxrkNiLq",
          "mode": "list",
          "cachedResultUrl": "/workflow/JHRubeaJLxrkNiLq",
          "cachedResultName": "Hotel Assistant Tool - Today Checkin Checkout"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f77f96bd-5f46-46c5-ba08-53d6607cb44e",
      "name": "Tool - Today Checkin Checkout",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        6384,
        1760
      ]
    },
    {
      "parameters": {
        "name": "search_rooms",
        "description": "Read-only tool. Search rooms by room number, room type, status, or facility. Use for room status questions. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "F1oUb16XlYZX6szb",
          "mode": "list",
          "cachedResultUrl": "/workflow/F1oUb16XlYZX6szb",
          "cachedResultName": "Hotel Assistant Tool - Search Rooms"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "roomNo": "={{ $fromAI('roomNo', 'Room number if present.', 'string') }}",
            "roomType": "={{ $fromAI('roomType', 'Room type if present.', 'string') }}",
            "status": "={{ $fromAI('status', 'available, occupied, cleaning, or maintenance if present.', 'string') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}",
            "limit": 20
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "cf2e8447-03ac-44aa-b4db-f393fa869b25",
      "name": "Tool - Search Rooms",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        6624,
        1760
      ]
    },
    {
      "parameters": {
        "name": "search_available_rooms",
        "description": "Read-only tool. Search available rooms by room type and date range. Use for questions about empty rooms by date/type. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "qUBhPmXIIqf1dzNI",
          "mode": "list",
          "cachedResultUrl": "/workflow/qUBhPmXIIqf1dzNI",
          "cachedResultName": "Hotel Assistant Tool - Search Available Rooms"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "roomType": "={{ $fromAI('roomType', 'Room type if present.', 'string') }}",
            "from": "={{ $fromAI('from', 'Start date in YYYY-MM-DD.', 'string') }}",
            "to": "={{ $fromAI('to', 'End date in YYYY-MM-DD.', 'string') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "03231597-9b94-4e7b-a0b1-2cddc1f9503f",
      "name": "Tool - Search Available Rooms",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        6864,
        1760
      ]
    },
    {
      "parameters": {
        "name": "get_guest_history",
        "description": "Read-only tool. Get guest/client stay history by guest name or client ID. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "e2PlJs2MiL08fyTo",
          "mode": "list",
          "cachedResultUrl": "/workflow/e2PlJs2MiL08fyTo",
          "cachedResultName": "Hotel Assistant Tool - Get Guest History"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "guestName": "={{ $fromAI('guestName', 'Guest name if present.', 'string') }}",
            "clientId": "={{ $fromAI('clientId', 'Client ID if known.', 'number') }}",
            "facilityId": "={{ $('Normalize Input').item.json.facilityId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "3207706f-b5f9-4a1c-b2a7-479c93fbbbcb",
      "name": "Tool - Get Guest History",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7104,
        1760
      ]
    },
    {
      "parameters": {
        "name": "search_internal_docs",
        "description": "Read-only tool. Search hotel internal documents, policies, procedures, department phone extensions, and abnormal situation handling guides. Never modifies data.",
        "workflowId": {
          "__rl": true,
          "value": "vz3USKBmFRNruU9D",
          "mode": "list",
          "cachedResultUrl": "/workflow/vz3USKBmFRNruU9D",
          "cachedResultName": "Hotel Assistant Tool - Search Internal Docs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Search query for hotel policy/procedure/internal document.', 'string') }}",
            "folderId": "REPLACE_GOOGLE_DRIVE_POLICY_FOLDER_ID",
            "limit": 5
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        }
      },
      "id": "e0315b5c-1719-497a-8216-4bd646d25c30",
      "name": "Tool - Search Internal Docs",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        7344,
        1760
      ]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Input').first().json\n\nfunction extractText(value) {\n  if (typeof value === 'string') return value\n  if (!value || typeof value !== 'object') return String(value ?? '')\n\n  const direct = value.output ?? value.text ?? value.result\n  if (typeof direct === 'string') return direct\n\n  const generations = value.response?.generations ?? value.generations\n  const firstGeneration = Array.isArray(generations) ? generations[0]?.[0] ?? generations[0] : undefined\n  if (typeof firstGeneration?.text === 'string') return firstGeneration.text\n  if (typeof firstGeneration?.message?.content === 'string') return firstGeneration.message.content\n\n  return JSON.stringify(value)\n}\n\nfunction tryParseJson(value) {\n  if (value && typeof value === 'object' && 'intent' in value) return value\n  if (value && typeof value === 'object' && 'answer' in value) return value\n\n  const text = extractText(value).trim()\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i)\n  const candidate = fenced?.[1] ?? text\n  const jsonMatch = candidate.match(/\\{[\\s\\S]*\\}/)\n  if (!jsonMatch) return null\n\n  try {\n    return JSON.parse(jsonMatch[0])\n  } catch {\n    return null\n  }\n}\n\nconst parsed = tryParseJson($json)\n\nreturn [\n  {\n    json: {\n      ...original,\n      planner: parsed ?? {\n        intent: 'unknown',\n        confidence: 0,\n        entities: {},\n        calledTools: [],\n        toolContext: {},\n        warnings: ['Kh?ng parse ???c k?t qu? planner.'],\n      },\n    },\n  },\n]"
      },
      "id": "ba0f523f-3615-4fdc-aa62-98e54f171845",
      "name": "Parse Planner Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        1472
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tin nhắn gốc:\n{{ $json.message }}\n\nPlanner result:\n{{ JSON.stringify($json.planner) }}\n\nPage context:\n{{ JSON.stringify($json.pageContext) }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI cho nhân viên khách sạn.\n\nBạn nhận context đã được lấy từ các API read-only và tài liệu nội bộ.\nHãy viết câu trả lời cuối cùng bằng tiếng Việt, ngắn gọn, rõ ràng, hữu ích cho nghiệp vụ lễ tân/vận hành khách sạn.\n\nQuy tắc:\n- Chỉ dùng dữ liệu trong context.\n- Không tự bịa số tiền, ngày, trạng thái, phòng, chính sách.\n- Nếu thiếu dữ liệu, nói rõ cần thêm thông tin gì.\n- Nếu intent là \"forbidden_write_action\", trả lời rằng bạn chỉ có quyền tra cứu và không thể thực hiện thao tác ghi dữ liệu.\n- Câu trả lời chính dùng Markdown.\n- Không trả HTML.\n- Trả JSON hợp lệ theo schema:\n{\n  \"answer\": \"markdown string\",\n  \"cards\": [\n    {\n      \"type\": \"reservation|room|payment|guest|document|summary\",\n      \"title\": \"string\",\n      \"subtitle\": \"string\",\n      \"description\": \"string\",\n      \"fields\": [\n        { \"label\": \"string\", \"value\": \"string\", \"tone\": \"default|success|warning|danger\" }\n      ]\n    }\n  ],\n  \"actions\": [\n    { \"type\": \"link\", \"label\": \"string\", \"href\": \"string\" }\n  ],\n  \"meta\": {\n    \"intent\": \"string\",\n    \"confidence\": 0.0,\n    \"calledTools\": [\"string\"],\n    \"sources\": [\n      { \"type\": \"api|drive|memory\", \"name\": \"string\" }\n    ]\n  }\n}"
        }
      },
      "id": "346331d3-9ec9-44c7-864f-05f204ee284c",
      "name": "Answer Composer AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        6080,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractText(value) {\n  if (typeof value === 'string') return value\n  if (!value || typeof value !== 'object') return String(value ?? '')\n\n  const direct = value.output ?? value.text ?? value.result\n  if (typeof direct === 'string') return direct\n\n  const generations = value.response?.generations ?? value.generations\n  const firstGeneration = Array.isArray(generations) ? generations[0]?.[0] ?? generations[0] : undefined\n  if (typeof firstGeneration?.text === 'string') return firstGeneration.text\n  if (typeof firstGeneration?.message?.content === 'string') return firstGeneration.message.content\n\n  return JSON.stringify(value)\n}\n\nfunction tryParseJson(value) {\n  if (value && typeof value === 'object' && 'intent' in value) return value\n  if (value && typeof value === 'object' && 'answer' in value) return value\n\n  const text = extractText(value).trim()\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i)\n  const candidate = fenced?.[1] ?? text\n  const jsonMatch = candidate.match(/\\{[\\s\\S]*\\}/)\n  if (!jsonMatch) return null\n\n  try {\n    return JSON.parse(jsonMatch[0])\n  } catch {\n    return null\n  }\n}\n\nconst response = tryParseJson($json) ?? {\n  answer: extractText($json) || 'T?i ch?a th? t?o c?u tr? l?i t? d? li?u hi?n c?.',\n  cards: [],\n  actions: [],\n  meta: { intent: 'unknown', confidence: 0, calledTools: [], sources: [] },\n}\n\nreturn [\n  {\n    json: {\n      answer: response.answer ?? 'Kh?ng c? c?u tr? l?i.',\n      cards: Array.isArray(response.cards) ? response.cards : [],\n      actions: Array.isArray(response.actions) ? response.actions : [],\n      meta: {\n        intent: response.meta?.intent ?? 'unknown',\n        confidence: response.meta?.confidence ?? 0,\n        calledTools: response.meta?.calledTools ?? [],\n        sources: response.meta?.sources ?? [],\n      },\n    },\n  },\n]"
      },
      "id": "dd15623c-049c-43a9-882d-c9de92e57a36",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1ea47530-2dfc-45eb-acac-bcb294fd1c53",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6656,
        1344
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5216,
        1760
      ],
      "id": "6426d8f5-e083-4201-b73c-8a0382bca264",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mSsirzTuhvajcS1r",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6192,
        1232
      ],
      "id": "6e69fa54-92f7-4f42-bda2-289bd948b13b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "mSsirzTuhvajcS1r",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "Đang phản hồi khá chậm với những câu hỏi cần xác nhận thêm thông tin"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6592,
        2112
      ],
      "typeVersion": 1,
      "id": "5e25d55e-8c1d-4547-a60b-071527659a9d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Chatbot": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Validation Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Validation Error?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planner AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Tool - Get Reservation Detail": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Get Payment Status": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Search Reservations": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Today Checkin Checkout": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Search Rooms": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Search Available Rooms": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Get Guest History": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Search Internal Docs": {
      "ai_tool": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Planner AI Agent": {
      "main": [
        [
          {
            "node": "Parse Planner Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planner Output": {
      "main": [
        [
          {
            "node": "Answer Composer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Composer AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planner AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Composer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6e233085-b3e1-4451-8951-5bddcf835733",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b53063c4bbf34f213e50709dbe4657fa8e848f71b4b93fb629a1ef051860a1c"
  },
  "id": "W73yHwNBepanN7f3",
  "tags": []
}