docs/n8n/hotel-assistant-tools/get-payment-status.workflow.json
{
  "name": "Hotel Assistant Tool - Get Payment Status",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "44e3b26c-983e-4a3c-9bff-fda03aa6efd9",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : undefined\n    } catch {\n      const trimmed = value.trim()\n      if (!trimmed.includes('=')) return undefined\n\n      const source = trimmed.startsWith('?') ? trimmed.slice(1) : trimmed\n      const result = {}\n      for (const pair of source.split('&')) {\n        if (!pair) continue\n        const separatorIndex = pair.indexOf('=')\n        const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n        const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n        const key = decodeURIComponent(rawKey.replace(/\\+/g, ' '))\n        const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' '))\n        if (!key) continue\n\n        if (result[key] === undefined) {\n          result[key] = paramValue\n        } else if (Array.isArray(result[key])) {\n          result[key].push(paramValue)\n        } else {\n          result[key] = [result[key], paramValue]\n        }\n      }\n\n      return Object.keys(result).length > 0 ? result : undefined\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : undefined\n}\n\nfunction readInput() {\n  const raw = parseObject($json) ?? {}\n  const directKeys = Object.keys(raw).filter((key) => !['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args'].includes(key))\n  if (directKeys.length > 0) return raw\n\n  for (const key of ['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    const nested = parseObject(raw[key])\n    if (nested && Object.keys(nested).length > 0) return nested\n  }\n\n  return raw\n}\n\nfunction present(value) {\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction numberOrUndefined(value) {\n  const normalized = present(value)\n  if (normalized === undefined) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\nconst input = readInput()\nconst reserveId = numberOrUndefined(input.reserveId ?? input.reserve_id ?? input.id)\nif (!reserveId) return [{ json: { payment: null, warnings: ['Missing reserveId'], sources: [], debugInput: input } }]\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nreturn [{ json: { ...input, reserveId, facilityId: numberOrUndefined(input.facilityId), apiBaseUrl, internalToken: 'dev-internal-token' } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000402",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl + '/request-details' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "reserveId",
              "value": "={{ $json.reserveId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000403",
      "name": "GET Request Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Input').item.json.apiBaseUrl + '/sale-details' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "reserveId",
              "value": "={{ $('Prepare Input').item.json.reserveId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $('Prepare Input').item.json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000404",
      "name": "GET Sale Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestResult = $('GET Request Details').first().json\nconst saleResult = $('GET Sale Details').first().json\nconst requestDetails = Array.isArray(requestResult.data) ? requestResult.data : Array.isArray(requestResult) ? requestResult : []\nconst saleDetails = Array.isArray(saleResult.data) ? saleResult.data : Array.isArray(saleResult) ? saleResult : []\nconst totalInvoice = requestDetails.reduce((sum, item) => {\n  const explicitTotal = item.totalPrice ?? item.total_price\n  if (explicitTotal !== undefined && explicitTotal !== null) return sum + Number(explicitTotal)\n  const unitPrice = Number(item.unitPrice ?? item.unit_price ?? 0)\n  const count = Number(item.count ?? 1)\n  return sum + unitPrice * count\n}, 0)\nconst totalPaid = saleDetails.reduce((sum, item) => sum + Number(item.totalPrice ?? item.total_price ?? 0), 0)\nreturn [{ json: { payment: { reserveId: $('Prepare Input').item.json.reserveId, totalInvoice, totalPaid, remaining: totalInvoice - totalPaid, status: totalPaid >= totalInvoice ? 'paid' : totalPaid > 0 ? 'partial' : 'unpaid', requestDetails, saleDetails }, sources: [{ type: 'api', name: 'GET /request-details' }, { type: 'api', name: 'GET /sale-details' }] } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000405",
      "name": "Calculate Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Request Details": {
      "main": [
        [
          {
            "node": "GET Sale Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sale Details": {
      "main": [
        [
          {
            "node": "Calculate Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-get-payment-status-v1"
}
