docs/n8n/hotel-assistant-tools/get-reservation-detail.workflow.json
{
  "name": "Hotel Assistant Tool - Get Reservation Detail",
  "nodes": [
    {
      "parameters": {},
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000201",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const reserveId = $json.reserveId\nif (!reserveId) return [{ json: { reservation: null, warnings: ['Missing reserveId'], sources: [] } }]\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nreturn [{ json: { reserveId, apiBaseUrl, internalToken: 'dev-internal-token' } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000202",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl + '/reservations/' + $json.reserveId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000203",
      "name": "GET Reservation Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json\nreturn [{ json: { reservation: result.data ?? result, sources: [{ type: 'api', name: 'GET /reservations/:reserveId' }] } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000204",
      "name": "Normalize Reservation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Reservation Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Reservation Detail": {
      "main": [
        [
          {
            "node": "Normalize Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-get-reservation-detail-v1"
}
