docs/n8n/hotel-assistant-tools/get-guest-history.workflow.json
{
  "name": "Hotel Assistant Tool - Get Guest History",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "db6e2284-01f4-4f78-87e3-5eb7aeab12f9",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : undefined\n    } catch {\n      const trimmed = value.trim()\n      if (!trimmed.includes('=')) return undefined\n\n      const source = trimmed.startsWith('?') ? trimmed.slice(1) : trimmed\n      const result = {}\n      for (const pair of source.split('&')) {\n        if (!pair) continue\n        const separatorIndex = pair.indexOf('=')\n        const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n        const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n        const key = decodeURIComponent(rawKey.replace(/\\+/g, ' '))\n        const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' '))\n        if (!key) continue\n\n        if (result[key] === undefined) {\n          result[key] = paramValue\n        } else if (Array.isArray(result[key])) {\n          result[key].push(paramValue)\n        } else {\n          result[key] = [result[key], paramValue]\n        }\n      }\n\n      return Object.keys(result).length > 0 ? result : undefined\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : undefined\n}\n\nfunction readInput() {\n  const raw = parseObject($json) ?? {}\n  const directKeys = Object.keys(raw).filter((key) => !['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args'].includes(key))\n  if (directKeys.length > 0) return raw\n\n  for (const key of ['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    const nested = parseObject(raw[key])\n    if (nested && Object.keys(nested).length > 0) return nested\n  }\n\n  return raw\n}\n\nfunction present(value) {\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction numberOrUndefined(value) {\n  const normalized = present(value)\n  if (normalized === undefined) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nreturn [{ json: { ...input, guestName: present(input.guestName), clientId: numberOrUndefined(input.clientId), facilityId: numberOrUndefined(input.facilityId), apiBaseUrl, internalToken: 'dev-internal-token' } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000702",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl + '/clients' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.guestName }}"
            },
            {
              "name": "clientId",
              "value": "={{ $json.clientId }}"
            },
            {
              "name": "facilityId",
              "value": "={{ $json.facilityId }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000703",
      "name": "GET Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Prepare Input').item.json.apiBaseUrl + '/reservations' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clientId",
              "value": "={{ $('Prepare Input').item.json.clientId }}"
            },
            {
              "name": "clientName",
              "value": "={{ $('Prepare Input').item.json.guestName }}"
            },
            {
              "name": "occupierName",
              "value": "={{ $('Prepare Input').item.json.guestName }}"
            },
            {
              "name": "facilityId",
              "value": "={{ $('Prepare Input').item.json.facilityId }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $('Prepare Input').item.json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000704",
      "name": "GET Guest Reservations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const clientResult = $('GET Clients').first().json\nconst reservationResult = $('GET Guest Reservations').first().json\nconst clients = Array.isArray(clientResult.data) ? clientResult.data : Array.isArray(clientResult) ? clientResult : []\nconst history = Array.isArray(reservationResult.data) ? reservationResult.data : Array.isArray(reservationResult) ? reservationResult : []\nreturn [{ json: { clients, guestHistory: history, sources: [{ type: 'api', name: 'GET /clients' }, { type: 'api', name: 'GET /reservations' }] } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000705",
      "name": "Normalize Guest History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Clients": {
      "main": [
        [
          {
            "node": "GET Guest Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Guest Reservations": {
      "main": [
        [
          {
            "node": "Normalize Guest History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-get-guest-history-v1"
}
