docs/n8n/hotel-assistant-tools/search-reservations.workflow.json
{
  "name": "Hotel Assistant Tool - Search Reservations",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "354ccec9-7c77-42dc-8486-f32a67913505",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : undefined\n    } catch {\n      const trimmed = value.trim()\n      if (!trimmed.includes('=')) return undefined\n\n      const source = trimmed.startsWith('?') ? trimmed.slice(1) : trimmed\n      const result = {}\n      for (const pair of source.split('&')) {\n        if (!pair) continue\n        const separatorIndex = pair.indexOf('=')\n        const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n        const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n        const key = decodeURIComponent(rawKey.replace(/\\+/g, ' '))\n        const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' '))\n        if (!key) continue\n\n        if (result[key] === undefined) {\n          result[key] = paramValue\n        } else if (Array.isArray(result[key])) {\n          result[key].push(paramValue)\n        } else {\n          result[key] = [result[key], paramValue]\n        }\n      }\n\n      return Object.keys(result).length > 0 ? result : undefined\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : undefined\n}\n\nfunction readInput() {\n  const raw = parseObject($json) ?? {}\n  const directKeys = Object.keys(raw).filter((key) => !['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args'].includes(key))\n  if (directKeys.length > 0) return raw\n\n  for (const key of ['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    const nested = parseObject(raw[key])\n    if (nested && Object.keys(nested).length > 0) return nested\n  }\n\n  return raw\n}\n\nfunction present(value) {\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction numberOrUndefined(value) {\n  const normalized = present(value)\n  if (normalized === undefined) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nconst date = present(input.date)\nreturn [{ json: {\n  ...input,\n  clientId: numberOrUndefined(input.clientId),\n  roomId: numberOrUndefined(input.roomId),\n  facilityId: numberOrUndefined(input.facilityId),\n  dataStatus: numberOrUndefined(input.dataStatus) ?? 1,\n  clientName: present(input.clientName),\n  occupierName: present(input.occupierName),\n  bookingCode: present(input.bookingCode),\n  facilityOrRoom: present(input.facilityOrRoom) ?? present(input.roomNo),\n  leavingType: present(input.leavingType),\n  periodFrom: present(input.periodFrom) ?? date,\n  periodTo: present(input.periodTo) ?? date,\n  apiBaseUrl,\n  internalToken: 'dev-internal-token',\n  limit: numberOrUndefined(input.limit) ?? 10,\n} }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000102",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl + '/reservations' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.bookingCode }}"
            },
            {
              "name": "clientName",
              "value": "={{ $json.clientName }}"
            },
            {
              "name": "occupierName",
              "value": "={{ $json.occupierName }}"
            },
            {
              "name": "clientId",
              "value": "={{ $json.clientId }}"
            },
            {
              "name": "roomId",
              "value": "={{ $json.roomId }}"
            },
            {
              "name": "leavingType",
              "value": "={{ $json.leavingType }}"
            },
            {
              "name": "periodFrom",
              "value": "={{ $json.periodFrom }}"
            },
            {
              "name": "periodTo",
              "value": "={{ $json.periodTo }}"
            },
            {
              "name": "facilityId",
              "value": "={{ $json.facilityId }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "facilityOrRoom",
              "value": "={{ $json.facilityOrRoom }}"
            },
            {
              "name": "dataStatus",
              "value": "={{ $json.dataStatus }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000103",
      "name": "GET Reservations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json\nconst data = Array.isArray(result) ? result : Array.isArray(result.data) ? result.data : Array.isArray(result.items) ? result.items : result.data?.data ?? []\nreturn [{ json: { reservations: Array.isArray(data) ? data : [], sources: [{ type: 'api', name: 'GET /reservations' }] } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000104",
      "name": "Normalize Reservations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Reservations": {
      "main": [
        [
          {
            "node": "Normalize Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-search-reservations-v1"
}
