docs/n8n/hotel-assistant-tools/search-rooms.workflow.json
{
  "name": "Hotel Assistant Tool - Search Rooms",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "82133e58-f194-4551-8c2e-4768e0baae98",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseObject(value) {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value)\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : undefined\n    } catch {\n      const trimmed = value.trim()\n      if (!trimmed.includes('=')) return undefined\n\n      const source = trimmed.startsWith('?') ? trimmed.slice(1) : trimmed\n      const result = {}\n      for (const pair of source.split('&')) {\n        if (!pair) continue\n        const separatorIndex = pair.indexOf('=')\n        const rawKey = separatorIndex >= 0 ? pair.slice(0, separatorIndex) : pair\n        const rawValue = separatorIndex >= 0 ? pair.slice(separatorIndex + 1) : ''\n        const key = decodeURIComponent(rawKey.replace(/\\+/g, ' '))\n        const paramValue = decodeURIComponent(rawValue.replace(/\\+/g, ' '))\n        if (!key) continue\n\n        if (result[key] === undefined) {\n          result[key] = paramValue\n        } else if (Array.isArray(result[key])) {\n          result[key].push(paramValue)\n        } else {\n          result[key] = [result[key], paramValue]\n        }\n      }\n\n      return Object.keys(result).length > 0 ? result : undefined\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : undefined\n}\n\nfunction readInput() {\n  const raw = parseObject($json) ?? {}\n  const directKeys = Object.keys(raw).filter((key) => !['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args'].includes(key))\n  if (directKeys.length > 0) return raw\n\n  for (const key of ['json', 'body', 'query', 'data', 'input', 'workflowInputs', 'parameters', 'args']) {\n    const nested = parseObject(raw[key])\n    if (nested && Object.keys(nested).length > 0) return nested\n  }\n\n  return raw\n}\n\nfunction present(value) {\n  return value !== undefined && value !== null && value !== '' ? value : undefined\n}\n\nfunction numberOrUndefined(value) {\n  const normalized = present(value)\n  if (normalized === undefined) return undefined\n  const parsed = Number(normalized)\n  return Number.isInteger(parsed) ? parsed : undefined\n}\nconst input = readInput()\nconst apiBaseUrl = 'http://host.docker.internal:3000/api/v1'\nconst roomTypeCandidate = input.roomTypeId ?? input.roomType\nconst roomTypeId = numberOrUndefined(roomTypeCandidate)\nconst roomStatus = numberOrUndefined(input.roomStatus ?? input.status)\nreturn [{ json: { ...input, search: present(input.search) ?? present(input.roomNo), roomType: present(input.roomType), roomTypeId, roomStatus, facilityId: numberOrUndefined(input.facilityId), dataStatus: numberOrUndefined(input.dataStatus) ?? 1, apiBaseUrl, internalToken: 'dev-internal-token', limit: numberOrUndefined(input.limit) ?? 50 } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000502",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl + '/rooms' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.search }}"
            },
            {
              "name": "roomTypeId",
              "value": "={{ $json.roomTypeId }}"
            },
            {
              "name": "roomStatus",
              "value": "={{ $json.roomStatus }}"
            },
            {
              "name": "facilityId",
              "value": "={{ $json.facilityId }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "dataStatus",
              "value": "={{ $json.dataStatus }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-token",
              "value": "={{ $json.internalToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000503",
      "name": "GET Rooms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeText(value) {\n  return String(value ?? '').trim().toLowerCase()\n}\n\nfunction matchesRoomType(room, roomType) {\n  const expected = normalizeText(roomType)\n  if (!expected) return true\n  return normalizeText(room.roomTypeName).includes(expected) || normalizeText(room.roomClassName).includes(expected)\n}\n\nfunction extractRows(result) {\n  return Array.isArray(result)\n    ? result\n    : Array.isArray(result.availableRooms)\n      ? result.availableRooms\n      : Array.isArray(result.rooms)\n        ? result.rooms\n        : Array.isArray(result.data)\n          ? result.data\n          : Array.isArray(result.items)\n            ? result.items\n            : []\n}\n\nconst input = $('Prepare Input').first().json\nconst rows = extractRows($json)\nconst rooms = rows.filter((room) => matchesRoomType(room, input.roomType))\nreturn [{ json: { rooms, sources: [{ type: 'api', name: 'GET /rooms' }] } }]"
      },
      "id": "2c19d1a7-6f7e-4bb8-9f01-000000000504",
      "name": "Normalize Rooms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "GET Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Rooms": {
      "main": [
        [
          {
            "node": "Normalize Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "hotel-assistant-tool-search-rooms-v1"
}
